HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
temp/

### secret properties files ###
board-system-app/src/main/resources/application-local.yml
board-system-app/src/main/resources/application-productionSecret.yml
board-system-app/src/test/resources/application-test.yml
board-system-app/src/main/resources/rsa-key/private_key_productionSecret.pem
board-system-app/src/main/resources/rsa-key/public_key_productionSecret.pem

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Kotlin ###
.kotlin
